---
layout: page
title: "About"
description: "Hey, this is elmagnifico."
header-img: "img/about-bg.jpg"
---

<div class="zh">
    <blockquote>
        世界很大，风景很美
        君子之交，淡如饮水
        人生很短，到处看看
        人生很长，切莫虚度
    </blockquote>

    <p>大学生，就读于大连理工大学软件工程（日语强化）专业 12 级，大四。接触过的东西很多，有三年的嵌入式底层软件开发经验，目前改变方向，专攻后端</p>

    <p>程序员，能copy、coding、debugging、building</p>

    <p>工程师，我是软件工程师，不是无脑堆砌代码的码农</p>

    <p>全栈工程师，除去后端还在学，UI不精通，各种框架基本不懂，我已经全栈了</p>

    <p>梦想，一个全栈工程师的梦想，就是再也不用写代码了。。、</p>

    <p>我是<b>elmagnifico</b></p>
    <p>联系方式：</p>

    <p>    邮箱:elmagnificogg@gmail.com</p>

    <p>     QQ:363562671</p>
    <hr>
    附上嵌入式方向的简历:
    <ul class="active-list">
        <li><a href="{{site.baseUrl}}/attach/elmagnifico'Embedded CV.pdf"> 2016_Elmagnifico_Embedded CV_cn </a></li>
    </ul>

    一些期待成为的角色:
    <ul>
        <li> Back-end engineer </li>
        <li> Product Engineer </li>
        <li> "Full Stack" Engineer/Designer </li>
    </ul>
</div>


{% if site.duoshuo_username %}


<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = '{{site.duoshuo_username}}';

    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
