<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="google-site-verification" content="ocEyzgQixcMwLGcR5yegd7v1cTQsH0TV3h4JLlokIIs" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if page.description %}
        {% assign meta_description = page.description %}
    {% elsif page.subtitle %}
        {% assign meta_description = page.subtitle %}
    {% else %}
        {% assign meta_description = site.description %}
    {% endif %}
    <meta name="description" content="{{ meta_description | strip_html | strip_newlines | escape }}">
    <meta name="keywords" content="{{ site.keyword }}">
    <meta name="theme-color" content="{{ site.chrome-tab-theme-color }}">

    <title>{% if page.title %}{{ page.title }} - {{ site.SEOTitle }}{% else %}{{ site.SEOTitle }}{% endif %}</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ site.baseurl }}/img/favicon.ico">

    {% assign canonical_url = page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url %}
    {% if page.title %}
        {% assign og_title = page.title | append: ' - ' | append: site.SEOTitle %}
    {% else %}
        {% assign og_title = site.SEOTitle %}
    {% endif %}
    {% if page.header-img %}
        {% assign og_image_path = page.header-img %}
    {% else %}
        {% assign og_image_path = site.header-img %}
    {% endif %}
    {% if og_image_path contains '://' %}
        {% assign og_image_url = og_image_path %}
    {% else %}
        {% assign og_image_url = og_image_path | prepend: '/' | replace: '//', '/' | prepend: site.url %}
    {% endif %}

    <!-- Canonical URL -->
    <link rel="canonical" href="{{ canonical_url }}">

    <!-- Open Graph -->
    <meta property="og:site_name" content="{{ site.title | escape }}">
    <meta property="og:locale" content="zh_CN">
    <meta property="og:title" content="{{ og_title | strip_html | escape }}">
    <meta property="og:description" content="{{ meta_description | strip_html | strip_newlines | escape }}">
    <meta property="og:url" content="{{ canonical_url }}">
    <meta property="og:image" content="{{ og_image_url }}">
    {% if page.collection == 'posts' %}
    <meta property="og:type" content="article">
    <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}">
    {% if page.update %}
    <meta property="article:modified_time" content="{{ page.update | date_to_xmlschema }}">
    {% endif %}
    {% else %}
    <meta property="og:type" content="website">
    {% endif %}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ og_title | strip_html | escape }}">
    <meta name="twitter:description" content="{{ meta_description | strip_html | strip_newlines | escape }}">
    <meta name="twitter:image" content="{{ og_image_url }}">

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{ "/css/bootstrap.min.css" | prepend: site.baseurl }}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ "/css/blog.min.css" | prepend: site.baseurl }}">

    <!-- Pygments Github CSS -->
    <link rel="stylesheet" href="{{ "/css/syntax.css" | prepend: site.baseurl }}">

    {% if site.dynamic-wave %}
    <!-- wave  -->
    <link rel="stylesheet" href="/css/wave.css"/>
    {% endif %}

    <!-- top processbar -->
    <link rel="preload" href="{{ site.BASE_PATH }}/css/style.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link href="{{ site.BASE_PATH }}/css/style.css" rel="stylesheet"></noscript>

    <link href="{{ "/css/font-awesome.min.css" | prepend: site.baseurl }}" rel="stylesheet" type="text/css">

    {% if page.travel_map or page.travel_route %}
    <link rel="stylesheet" href="{{ '/css/travel-map.css' | prepend: site.baseurl }}">
    {% endif %}

    {% if site.pagefind %}
    <link rel="stylesheet" href="{{ '/css/search-pagefind.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ '/css/search-cjk-fallback.css' | prepend: site.baseurl }}">
    <link href="{{ '/pagefind/pagefind-component-ui.css' | prepend: site.baseurl }}" rel="stylesheet">
    {% endif %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.0/html5shiv.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- ga & ba script hoook -->
    <script></script>
</head>
